*
{margin: 0
  padding:0;
}

body{
  background-image: url('http://fc09.deviantart.net/fs71/i/2011/361/b/4/endless_foggy_ocean_by_foxstox-d4kdo7f.jpg');
  background-size: 100%;
}

#wrapper {
  width: 100%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
}

#header{
margin-top: 30px;
}

#header h1
{
text-align: center;
color:white;
font-size: 40px;
}

#banner{
    width:70%;
    height: 13%;
    float:left;
    margin-right: 30px;
}

#banner ul {
    list-style: none;
    text-align: left;
    position: relative;
    text-decoration: none;
}

#banner ul li{
    display:inline-block;
    padding: 2px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 0 0 black;

}

#banner ul a {
  text-decoration:none;
  color: white;
}


#banner ul a:hover{
  color: black;
  }

#banner ul li a, visited {
  display:block;
  padding: 15px;
}

#banner ul li:hover ul{
    display:block;
}

#banner ul ul{
  display:none;
  position:absolute;
}






